<nav class="navbar navbar-expand-lg ">

    <h1 class="glow"> CinePhilia </h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" routerLink="/platform/movies" routerLinkActive="active"> Movies</a>
            <a class="nav-item nav-link" routerLink="/platform/series" routerLinkActive="active">Series</a>
            <a class="nav-item nav-link" routerLink="/platform/celebrities" routerLinkActive="active">Celebrities</a>
        </div>
    </div>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="onChange( $event.target.value)">
    <i class=" fas fa-sign-out-alt fa-1x" (click)="logOut()" style="text-align: center"> <p>Logout</p></i>

</nav>