<div class="homepage">
    <h1>If you are a Cinephile , you'll love us</h1>
    <h3>The world's most popular and authoritative source <br/> for movies , TV and celebrity content.</h3>

    <h4> Only $0.3 a Day </h4>
    <a class="plan-get-started" id="select-get-started" style="color:beige"> Get started </a>
</div>
<div class="home-carousel">
    <h2> Now Playing In Theaters </h2>
    <app-carousel></app-carousel>
</div>

<div class="allaccess">

    <h2> Join Us And Get All Access </h2>
    <img src="../../../../assets//images/background1.jpeg" />
    <img src="../../../../assets/images/background2.jpeg" />
</div>

<app-home-footer></app-home-footer>