<div class="film-list">
    <div class="card" *ngFor="let celebrity of celebrities | filterPipe : sharedDataServiceService.shearchData">
        <img src="https://image.tmdb.org/t/p/w500{{celebrity.profile_path}}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h6 class="card-title"> {{celebrity.name}} </h6>
            <span class="rate-label">  <i class="fas fa-star fa-1x faa-pulse animated isyellow" ></i>  Popularity : <span class="rate"> {{celebrity.popularity}}</span> </span>

            <p> Known for : <span *ngFor="let item of celebrity.known_for "> {{ item.title }} - </span> </p>

            <a class="btn btn-warning" href="https://www.themoviedb.org/person/{{celebrity.id}}" target="blank"> See More </a>

        </div>
    </div>
</div>

<div class="prevnext">

    <div class="loadmore">
        <i class="fas fa-angle-double-left" (click)="previousPage()"></i>
        <input type="button" value="Previous" class="next" (click)="previousPage()" />
    </div>


    <div class="loadmore">
        <input type="button" value="Next" class="next" (click)="nextPage()" />
        <i class="fas fa-angle-double-right" (click)="nextPage()"> </i>
    </div>

</div>